@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #35374b;
  --bg-color: #78a083;
  --sec-bg-color: #313131;
  --font-color: #ffffff;
  --black-color: #000;
  --white-color: #fff;
  --hover-color: #11ff59;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--font-color);
}
a {
  text-decoration: none;
  transition: 0.3s;
}
ul {
  list-style: none;
}
.profile_card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 700px;
  background-color: var(--body-color);
}
.profile_card {
  background: var(--bg-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 30px;
  max-width: 400px;
  text-align: center;
  transition: 0.3s;
}
.profile_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
  border: 5px solid var(--body-color);
  border: 5px solid var(--sec-bg-color);
}
.profile_img img {
  max-width: 100%;
  border-radius: inherit;
}

.profile_name {
  font-size: 32px;
  margin-bottom: 10px;
}
.profile_title {
  margin-bottom: 30px;
  font-size: 15px;
  display: inline-block;
}
.profile_description {
  margin-bottom: 15px;
  line-height: 1.3;
}
.profile_contact {
  margin-bottom: 30px;
}
.profile_contact li {
  margin-bottom: 15px;
}
.profile_contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--font-color);
}
.profile_contact a:hover {
  color: var(--black-color);
}
.profile_contact a i {
  margin-right: 10px;
  font-size: 24px;
  color: var(--font-color);
}
.profile_social-links li {
  display: inline-block;
  margin: 0 5px;
}
.profile_social-links li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: var(--body-color);
  color: var(--font-color);
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.profile_social-links li a:hover {
  background: var(--bg-color);
  color: var(--font-color);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
}
